.cardContainer {
  transition: all 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 25%;
  text-wrap: wrap;
  border: 1px solid rgba(120, 120, 120, 0.392);
  height: 300px;
  flex: 0 1 25%;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.26);
}

.cardContainer:hover > .desc {
  display: block;
}

.cardContainer > .desc {
  display: none;
}

.cardContainer:hover {
  background-color: #114939;
  color: white;
}

.cardContainer > .img {
  height: 150px;
  min-height: 100px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.img svg {
  height: 40%;
  width: 40%;
}

.cardContainer:hover .img svg {
  fill: white;
  transition: all 0.5s;
  transform: scale(1.5);
}

.title {
  width: 100%;
  text-align: center;
}

.title p {
  font-size: 1.2em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.desc {
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 2%;
  padding-right: 2%;
}

@media (width <= 800px) {
  .cardContainer {
    display: flex;
    flex: 0 1 40%;
  }
}
